<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/app.css")
        title #{ nombrePagina }
    body

        header.barra
            h1 Tareas - Aministrador de Proyectos
            a(href="#") Cerrar Sesi칩n

        main.contenedor

            aside.contenedor-proyectos

                .panel.crear-proyecto
                    a.boton.sombra(href="/nuevo-proyecto") Nuevo Proyecto

                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        li
                            a(href="#") Dise침o tienda Virtual
                        li
                            a(href="#") Dise침o nuevo Blog
                        li
                            a(href="#") Dise침o Logo   


            block contenido
